.footer {
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score-button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #82beea;
  border-radius: 15px;
  display: flex;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid ghostwhite;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.score-button:hover {
  background-color: #555e7d;
}

.score-button:focus {
  outline: none;
}

.score-button svg {
  margin-right: 5px;
}
